@media only screen and (max-width: 912px) {


    /* Header */

    .navbar {
        flex-wrap: wrap;
    }

    /* Main welcome-section */

    #welcome-section {
        flex-direction: column-reverse;
        height: 70vh;

    }

    .text-container {
        margin: 0px;
        margin-top: 100px;
        /* border: 2px solid red; */
        width: 600px;
    }

    /* service-section */

    #service-section h1 {
        font-size: 2em;
        width: 700px;

    }

    .items {
        width: 100%;
    }

    #about-section {
        background: none;
        background-color: #94caee;
        height: 40vh;

    }

    .about {
        top: 27%;
        left: 17%;
        padding: 0px;

    }

    /* contact-section */

    #contact-section {
        height: 50vh;
    }

    /* Footer */

    #credentials p {
        margin-top: 40px;
    }

    /* 820px */

}

@media only screen and (min-width: 912px) {
    .navbar {
        height: 70px;
    }
}

@media only screen and (max-width: 820px) {

    .burger {
        display: block;
    }

    .h-nav {
        height: 72px;
    }

    .v-class {
        opacity: 0;
    }

    header {
        position: static;
    }

    .navbar {
        flex-wrap: nowrap;
        flex-direction: column;
        /* height: 160px; */
        transition: all 0.3s ease-out;
    }

    .logo {
        margin-top: 10px;
    }

    .left-navbar {
        flex-direction: column;
    }

    .nav-menu {
        margin: 10px 0px;
        margin-bottom: 0px;
    }

    .right-navbar {
        margin: 5px 0px;
    }

    .right-navbar .searchbar {
        width: 300px;
    }

    .about {
        top: 25%;
        left: 14%;
    }

    .footer .end {
        padding: 30px 30px;
    }
}

@media only screen and (max-width: 768px) {

    #welcome-section {
        height: 80vh;
    }

    .about {
        top: 23%;
        left: 12%;
    }
}

@media only screen and (max-width: 540px) {
    #welcome-section {
        width: 100%;
        height: 110vh;
    }

    .text-container {
        width: 80%;
    }

    #about-section {

        height: 60vh;
    }

    .about {
        width: 400px;
        top: 22%;
        left: 13%;
    }

    .footer .end {
        padding: 15px 15px;
    }

    .footer .end h3 {
        font-size: 14px;
    }

    .footer .end p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 414px) {
    .about {
        width: 350px;
        top: 25%;
        left: 8%;
    }

    .footer .end {
        padding: 25px 15px;
    }

    .footer .end h3 {
        font-size: 12px;
    }

    .footer .end p {
        font-size: 10px;
    }
}

@media only screen and (max-width: 393px) {
    .about {
        top: 25%;
        left: 5%;
    }

    .right-navbar {
        width: 150px;
    }
}

@media only screen and (max-width: 390px) {
    .about {
        top: 25%;
        left: 5%;
    }

    .right-navbar {
        width: 150px;
    }
}

@media only screen and (max-width: 375px) {
    #welcome-section {
        height: 120vh;
    }

    .right-navbar {
        width: 150px;
    }

    .about {
        top: 14%;
        left: 10%;
        width: 300px;
    }

    .form-items {
        width: 300px;
    }
}